.nav-bg-color {
	background: #6d0eb1;
}#nav-fluid-logo-menu-btn-2 {
	background: transparent;
}#nav-fluid-logo-menu-btn-2 .nav-bg {
	background: #6d0eb1;
	opacity: 0.85;
}
#header-center-slogan-form-3--0 {
	background: linear-gradient(to bottom, #6d0eb1, #00c0ff);
}


#header-center-slogan-form-3--0 .bg {
	background-image: url('../images/P_20180628_184013.webp');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: bottom center;
	opacity: 0.81;
}






#gallery-fluid-carousel--0 {
	background: #ffffff;
}#gallery-fluid-carousel {
	background: #ffffff;
}

#video-center-icon {
	background: #ffffff;
}

#video-center-icon .bg {
	background-image: url('../images/viber_image38.webp');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.81;
}




#footer-fluid-img-list-subscribe .bg {
	background-image: url('../images/welcome-bg.webp');
	background-size: auto;
	-webkit-background-size: auto;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: top center;
	opacity: 1;
}
